@mixin flex-layout($dir, $justify-content, $align-items) {
  display: flex;
  flex-direction: $dir;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin flex-row($justify-content, $align-items) {
  @include flex-layout(row, $justify-content, $align-items);
}

@mixin flex-column($justify-content, $align-items) {
  @include flex-layout(column, $justify-content, $align-items);
}