@import 'styles/base';

.viewport {
  @include flex-row(center, flex-start);

  width: 100%;
  min-height: 256px;
  height: 100%;
  background-color: darkcyan;

  .element {
    margin: 0 1px;
    width: 8px;
    height: 100%;
    background-color: yellow;
  }
}